<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>{{ page.title }} nolure - WEB前端开发个人博客，经验分享及随笔记录</title>
<link rel="stylesheet" href="http://nolure.github.io/nojs.docs/css/ui.css" />
<link rel="stylesheet" href="http://nolure.github.io/nojs.docs/css/base.css" />
<link rel="stylesheet" href="/css/main.css" />
<script src="http://nolure.github.io/nojs.docs/js/noJS.js" data-config="global:['jquery','nojs.ui/core']"></script>
</head>
<body>
<div class="g_head">
	<div class="page_all clearfix">
		<h1>nolure</h1>
		<h2>WEB前端开发个人博客，经验分享及随笔记录</h2>
	</div>
</div>	
{{ content }}
</body>
</html>